<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <!--<entityframework>
    <defaultconnectionfactory type="system.data.entity.infrastracture.localdbconnectionfactory, entityframework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultconnectionfactory>
    <providers>
      <provider invariantname="system.data.sqlclient" type="system.data.entity.sqlserver.sqlproviderservices, entityframework.sqlserver"/>
    </providers>
  </entityframework>-->
  
  <connectionStrings>
    <add name="Pharmacy_Project" connectionString="Data Source=C:\Users\rjrjaleco\Documents\Visual Studio 2015\Projects\Pharmacy_Project\Pharmacy_Project\Pharmacy_Project.mdf"
      providerName="System.Data.SqlClient" />
    <add name="Pharmacy_Project.Properties.Settings.Pharmacy_ProjectConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Pharmacy_Project.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>